<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.mapper.UserMapper">

    <resultMap id="UserMap" type="user">
<!--        <result column="id" property="id"></result>-->
<!--        <result column="name" property="name"></result>-->
        <result column="pwd" property="password"></result>
    </resultMap>
    <select id="getUserById" resultMap="UserMap" parameterType="int">
<!--        select id,name,pwd as password from user where id = #{id}-->
        select id,name,pwd from user where id = #{uid}
<!--        对应@param-->
    </select>

<!--  数据库与映射中字段不同时
    1.别名
    2.结果集映射
  -->


</mapper>